xrdb -merge ~/.Xresources &
setxkbmap de &
feh --bg-fill ~/dotfiles/wall/ &
xsetroot -cursor_name leftptr &
light -I &
light -N 2 &

dbus-launch --sh-syntax --exit-with-session; pulseaudio --kill; pipewire &
# Starting light-lock with X session
# light-locker &

conky -d -c /home/niklas/.config/conky/.conkyrc &

xautolock -time 5 -locker "i3lock-fancy-rapid 5 3" &
xmodmap /home/niklas/dotfiles/.Xmodmap
xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto

