Xft.dpi  : 192

! Xpdf.initialZoom: 200

Xcursor.theme: gentoo-blue
Xcursor.size: 64

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

dwm.normbordercolor: #ffffff
dwm.normbgcolor: #444444
dwm.normfgcolor: #bbbbbb
dwm.selbordercolor: #eeeeee
dwm.selbgcolor: #bd93f9
dwm.selfgcolor: #000000
